Дорогой $firstname. Поздравляю с днем рождения!
Желаю море радости, прекрасных ощущений, светлых дней, теплых ночей, искренних улыбок вокруг, радостных вестей и верных друзей!
Пусть сбываются даже самые сокровенные мечты, а чудеса будут вокруг не только в такие праздники, как твой день рождения, а всегда!
